.app {
  text-align: center;
}

.header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.explanation {
	margin: 40px 0 40px 0;
	font-size: 1.1em;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: black;
}

.soc-header {
	background-color: #f04d46;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.soc-a {
	display: flex;
	text-decoration: none;
	
	&:visited {
		text-decoration: none;
	}
}

.soc-logo {
	//float: left;
	width: auto;
  height: auto;
  min-height: 60px;
	max-width: 60px;
	max-height: 60px;
	-webkit-user-drag: none;
}

.soc-text {
	margin: 0;
	margin-top: 0 !important;
	padding-top: 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 2.47em;
	letter-spacing: 3.2px;
	-webkit-font-smoothing: antialiased;
	margin-left: 15px;
	line-height: 60px;
}

.ven-header {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}

.ven-a {
	height: 0;
}

.ven-logo {
	height: 60px;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	height: 2px;
	padding: 10px;
	margin-top: 15px;
}

i:hover {
	cursor: pointer;
}

.right {
	margin-left: 15px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	margin-right: 15px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

